{% extends 'base.html.twig' %}

{% block title %}Hello StudentController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    This friendly message is coming from:

    <form action="{{path('student_update', {id: student.id})}}" method="POST">
        <ul>
            <label>Studen name:</label>
            <input type="text" name="student_name" value="{{student.name}}">
            <label>Student surname:</label>
            <input type="text" name="student_surname" value="{{student.surname}}">
            <label>Student email:</label>
            <input type="text" name="student_email" value="{{student.email}}">
            <label>Strudent phone:</label>
            <input type="text" name="student_phone" value="{{student.phone}}">

            <button type="submit">Edit Student</button>
        </ul>
    </form>
</div>
{% endblock %}
