{% extends 'base.html.twig' %}

{% block title %}Hello StudentController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <ul>
    {% for students in student %}
        <li>{{students.name}}</li>
        {{students.surname}}
        {{students.email}}
        {{students.phone}}
    <a href="{{ path('student_edit', {id: students.id}) }}">EDIT</a>
    <a href="{{ path('student_grades', {id: students.id}) }}">Grades</a>
    <form action="{{ path('student_delete', {id: students.id}) }}" method="POST">
        <button type="submit">DELETE</button>
    </form>
    {% endfor %}
    </ul>
</div>
{% endblock %}
