{% extends 'base.html.twig' %}

{% block title %}Hello StudentController!{% endblock %}

{% block body %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Student List</div>

                <div class="card-body">
                    <div class="example-wrapper">
                        {% for students in student %}
                        <li class="list-group-item">
                            <div class="list-group-item__line">
                                <h5>{{students.name}} {{students.surname}}</h3>
                            </div>
                                <p>{{students.email}} {{students.phone}}</p>
                            <div class="list-group-item__line__buttons">

                                <a href="{{ path('student_edit', {id: students.id}) }}" class="btn btn-success">EDIT</a>
                                <a href="{{ path('student_grades', {id: students.id}) }}" class="btn btn-secondary">Grades</a>
                                <form action="{{ path('student_delete', {id: students.id}) }}" method="POST">
                                    <button type="submit" class="btn btn-danger">DELETE</button>
                                </form>
                            </div>
                            </li>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}