{% extends 'base.html.twig' %}

{% block title %}Grade students{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Grade students</div>

                <div class="card-body">
                    <div class="example-wrapper">
                        <form action="{{path('grade_store')}}" method="POST">
                            <div class="form-group">
                                <label>Student</label>
                                <select name="grade_student_id" class="form-control">
                                    <option value="0">Select student</option>
                                
                                    {% for students in student %}
                                    <option value="{{students.id}}">{{students.name}} {{students.surname}}</option>
                                    {% endfor %}

                                </select>
                                <label>Lecture:</label>
                                <select name="grade_lecture_id" class="form-control">
                                    <option value="0">Select lecture</option>
                                    
                                    {% for lectures in lecture %}
                                    <option value="{{lectures.id}}">{{lectures.name}} {{lectures.description}}</option>
                                    {% endfor %}

                                </select>
                                <label>Student grade:</label>
                                <input type="text" class="form-control" name="grade_grade">
                            </div>
                            <input type="hidden" name="token" value="{{csrf_token('')}}"/>
                            <button type="submit" class="btn btn-dark">Save Grade!</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}